<div class="container pt-5">
  <p style="color: green"><%= notice %></p>

  <div class="form-group row mb-3 mt-3">
    <div class="col-sm-2">
      <h1>Гаманці</h1>
    </div>
    <div class="col-sm-10 align-self-center">
    <%= link_to "Новий гаманець", new_wallet_path, class: "btn btn-success float-end" %>
    </div>
  </div>

  <table id="wallet" class="table table-dark table-striped table-bordered">
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 85%">Назва</th>
      <th style="width: 10%">Управління</th>
    </tr>
    <% n = 1 %>
    <% @wallets.each do |wallet| %>
    <tr>
      <td><%= n %></td>
      <td><%= wallet.name %></td>
      <td>
        <div class="btn-toolbar">
          <%= link_to edit_wallet_path(wallet), class: "btn" do %>
          <i class="bi bi-pencil-square text-my-green"></i>
          <% end %>
          <%= button_to wallet, method: :delete, class: "btn btn-link" do %>
          <i class="bi bi-x-square text-my-green"></i>
          <% end %>
        </div>
      </td>
        <% n+=1 %>
    </tr>
    <% end %>
  </table>

  <%= paginate @wallets %>
</div>
