<div class="container pt-5">
  <p style="color: green"><%= notice %></p>

  <div class="form-group row mb-3 mt-3">
    <div class="col-sm-2">
      <h1>Категорії</h1>
    </div>
    <div class="col-sm-10 align-self-center">
    <%= link_to "Нова категорія", new_category_path, class: "btn btn-success float-end" %>
    </div>
  </div>


  <table id="categories" class="table table-dark table-striped table-bordered">
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 30%">Назва</th>
      <th style="width: 55%">Опис</th>
      <th style="width: 10%">Управління</th>
    </tr>
    <% n = 1 %>
      <% @categories.each do |category| %>
    <tr>
      <td><%= n %></td>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td>
        <div class="btn-toolbar">
          <%= link_to edit_category_path(category), class: "btn" do %>
          <i class="bi bi-pencil-square text-my-green"></i>
          <% end %>
          <%= button_to category, method: :delete, class: "btn btn-link" do %>
          <i class="bi bi-x-square text-my-green"></i>
          <% end %>
        </div>
      </td>
      <%
=begin%>
 <%= render category %> 
<%
=end%>
      <%
=begin%>
 <p>
        <%= link_to "Show this category", category, class: "btn btn-success" %>
      </p> 
<%
=end%>
      <% n+=1 %>
    <% end %>
    </tr>
  </table>

  <%= paginate @categories %>
</div>
