<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-success" %> |
  <%= link_to "Back to categories", categories_path, class: "btn btn-success" %>

  <%= button_to "Destroy this category", @category, method: :delete, class: "btn btn-success" %>
</div>
