<div class="container pt-5">
  <p style="color: green"><%= notice %></p>

  <%= render @category %>

  <div class="form-group row mb-3 mt-3">
    <%= link_to "Редагувати", edit_category_path(@category), class: "btn btn-success btn-md center-block col-1" %> |

    <%= button_to "Видалити", @category, method: :delete, class: "btn btn-success btn-md center-block" %>

    <%= link_to "Категорії", categories_path, class: "btn btn-success btn-md center-block col-1" %>
  </div>
</div>
