<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> збереження операції відхилено:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-3 mt-3">
        <%= form.label :otype, "Тип операції", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-6 form-check form-check-inline mb-3 mt-3">
        <%= form.collection_radio_buttons :otype, @otype_options, :first, :last, { include_hidden: false }, required: true %>
        </div>
  </div>

  <div class="form-group row mb-3 mt-3">
    <%= form.label :wallet_id, "Гаманець", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= form.select :wallet_id, options_for_select(@wallets, :selected => @operation.wallet_id), { :include_blank => "Вибери гаманець" }, { class: "form-select", required: true } %>
    </div>
  </div>

  <div class="form-group row mb-3 mt-3">
    <%= form.label :category_id, "Категорія", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= form.select :category_id, options_for_select(@categories, :selected => @operation.category_id), { :include_blank => "Вибери категорію" }, { class: "form-select", required: true } %>
    </div>
  </div>

  <div class="form-group row mb-3 mt-3">
    <%= form.label :amount, "Сума", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= form.number_field :amount, min: 0.01, step: 0.01, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group row mb-3 mt-3">
    <%= form.label :description, "Опис", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3 mt-3">
    <%= form.label :odate, "Дата", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-2">
      <%= form.date_field :odate, :value => Time.now.strftime('%Y-%m-%d'), class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-3 mt-3">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-6">
      <%= form.submit "Підтвердити", class: "btn btn-success btn-md center-block" %>
      <%= form.button("Очистити", {name: "clear", id: "clear", type: "button", class: "btn btn-success btn-md center-block"}) %>
    </div>
  </div>
  <script>
    const inputs = document.querySelectorAll('#operation_otype, #operation_wallet_id, #operation_category_id, #operation_amount, #operation_description, #operation_odate');
    const button = document.getElementById('clear');
    button.onclick = function() {
      inputs.forEach(element => {
        element.value = '';
      });
    }
  </script>
<% end %>
