<div id="<%= dom_id operation %>">
  <p>
    <strong>Сума</strong>
    <%= operation.amount %>
  </p>

  <p>
    <strong>Дата YYYY-MM-DD</strong>
    <%= operation.odate %>
  </p>

  <p>
    <strong>Короткий опис</strong>
    <%= operation.description %>
  </p>

  <p>
    <strong>Тип операції</strong>
    <%= operation.otype %>
  </p>

  <p>
    <strong>Назва категорії</strong>
    <%= operation.category_id %>
  </p>

  <p>
    <strong>Гаманець/strong>
    <%= operation.wallet_id %>
  </p>

</div>
