<div class="container pt-5">
  <p style="color: green"><%= notice %></p>

  <div class="form-group row mb-3 mt-3">
    <div class="col-sm-2">
      <h1>Операції</h1>
    </div>
    <div class="col-sm-10 align-self-center">
    <%= link_to "Нова операція", new_operation_path, class: "btn btn-success float-end" %>
    </div>
  </div>

  <table id="operations" class="table table-dark table-striped table-bordered">
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 10%">Тип операції</th>
      <th style="width: 10%">Гаманець</th>
      <th style="width: 15%">Категорія</th>
      <th style="width: 10%">Сума</th>
      <th style="width: 30%">Опис</th>
      <th style="width: 10%">Дата</th>
      <th style="width: 10%">Управління</th>
    </tr>
    <% n = 1 %>
    <% @operations.each do |operation| %>
    <tr>
      <td><%= n %></td>
      <td><%= Operation.get_otype(operation.otype.to_sym) %></td>
      <td><%= operation.wallet.name %></td>
      <td><%= operation.category.name %></td>
      <td><%= operation.amount %></td>
      <td><%= operation.description %></td>
      <td><%= operation.odate %></td>
      <td>
        <div class="btn-toolbar">
          <%= link_to edit_operation_path(operation), class: "btn" do %>
          <i class="bi bi-pencil-square text-my-green"></i>
          <% end %>
          <%= button_to operation, { :onclick => "return confirm('Ви впевнені?')", class: "btn btn-link", method: :delete } do %>
          <i class="bi bi-x-square text-my-green"></i>
          <% end %>
        </div>
      </td>
    <% n+=1 %>
  <% end %>
  </tr>
  </table>
  <%= paginate @operations %>

</div>